@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.container {
    width: 100%;
    padding: 1rem;
    border-top: 2px solid grey;
    background: #25292b;
    color: #fff;

    h1 {
        padding: 2rem;
        font-family: "Orbitron", sans-serif;

    }

    .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem 2rem 3rem;
        // margin: 0 auto;

        .info {
            width: 45%;
            margin-bottom: 4rem;

            .email {
                border-bottom: 2px solid rgba(185, 185, 186, 1);
                padding-bottom: 2rem;
                padding-top: 1rem;

                h4 {
                    font-size: 26px;
                    font-family: "Orbitron", sans-serif;
                    color: rgba(239, 193, 0, 1);
                }

                p {
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    letter-spacing: 2px;

                }
            }

            .adress {
                border-bottom: 2px solid rgba(185, 185, 186, 1);
                padding-bottom: 2rem;
                padding-top: 2rem;

                h4 {
                    font-size: 26px;
                    font-family: "Orbitron", sans-serif;
                    color: rgba(239, 193, 0, 1);
                }

                p {
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    letter-spacing: 2px;

                }

            }

            .phone {
                border-bottom: 2px solid rgba(185, 185, 186, 1);
                padding-bottom: 2rem;
                padding-top: 2rem;


                h4 {
                    font-size: 26px;
                    font-family: "Orbitron", sans-serif;
                    color: rgba(239, 193, 0, 1);

                }

                p {
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    letter-spacing: 2px;

                }
            }
        }

        .form {
            width: 50%;

            p {
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                letter-spacing: 2px;

            }

            input {
                padding: 1rem;
                width: 90%;
                margin-bottom: 1rem;
                margin-top: 1rem;
                border: none;
                border-radius: 8px;
                font-size: 22px;
                font-family: 'Poppins', sans-serif;

            }

            textarea {
                // padding: 1.2rem;
                width: 90%;
                padding: 1rem;
                margin-bottom: 2rem;
                margin-top: 1rem;
                border: none;
                border-radius: 8px;
                font-size: 22px;
                font-family: 'Poppins', sans-serif;

            }

            button {
                width: 90%;
                padding: 1rem;
                margin-bottom: 2rem;

                border: none;
                border-radius: 8px;
                font-size: 22px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                background: #EFC100;
                box-shadow: 26px 30px 26px rgba(0, 0, 0, 0.5);
            }
        }

    }

    .footer {
        padding: 2rem;

        .images {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0 3rem 0;

            img {
                width: 30%;

            }
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            //  margin-top: 2rem;
            //  margin-bottom: 3rem;
            padding: 3rem;

            p {
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                letter-spacing: 2px;

            }

            div {

                img {
                    margin-left: 2rem;
                    width: 2.5rem;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
     
    .container{
        .item{

            display: block;
            padding: 0;
            .info,.form{
                width: 100%;
                margin: 0 auto;
             
            }
            .info{
                .adress{
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                  
                    
                }
            }
            .form{
                p{
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
            
                input{
                    width: 100%;
                }
                textarea{
                    width: 100%;
                }
                button{
                    width: 100%;
                }

            }
            
        }
        .footer {
           padding: 0;
    
            .images {
             
                img{
                    width: 100%;
                }
             
            }  
            .content{
                display: block;
                padding: 0;
                p{
                    font-size: 12px;
                }
                div{
                   width: 80%;
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                
                
                 }
                    img{
                        margin-left: 0;
                        width: 2rem;
                    }
                }
            } 
        }
    }
    







@media only screen and (max-width: 600px) {


    .container{
        .foot{
            h2{
                font-size: 18px;
            }
        }
    }
}