.Icon_container{
    background: #F9F9F9;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
     img{
        width:calc(100% + 8rem);
        max-width: fit-content;
        margin: 1.5rem 0 1.5rem 0;

     }
}