.rec-dot{
    background: rgba(37, 41, 43, 1) !important;
    box-shadow: none !important;
    margin-bottom: 5rem !important;
    padding: 0.7rem !important;
  }
  .rec-dot_active{
    background-color: #EFC100 !important;
    
    
  }
 
